* {
    box-sizing: border-box;
  }

header {
    background-color: #FEE3EC;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  h2 {
    display: block;
    padding: 10px;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }
  h2::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: aquamarine;
    transition: .25s;
  }

  h2:hover::before {
    width: 100%;
  }

#name_store{
    color: #b4a1fb; 
    font-size: 40px; 
    text-align: center; 
    /* font-family: 'Courier New', Courier, monospace;     */
    font-family: "Trirong", serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px #ababab;
}

nav {
    float: left;
    width: 30%;
    height: 600px; 
    background: #F3F0D7;
    padding: 20px;
  }

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #FDEFEF;
    height: 600px; 
    padding-bottom: 10px;
  }

  /* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  }

a:link{
    color: #377D71;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #FF9F29;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #8879B0;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color: #00FFAB;
    background-color: transparent;
    text-decoration: underline;
}

#click_btn{
    background-color: #FF5D5D;
    padding: 15px 20px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 150px;
}

#click_btn:hover{
    background-color: #00FFAB;
}


#table_st{
    border: 1px solid black;
    width: 20%;
}
th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;

}
/* tr:nth-child(even) {
    background-color: #D6EEEE;
} */
tr:hover {background-color: #D6EEEE;}

#test_func{
    background-color: #85F4FF;
    width: 250px; 
    font-size: 20px;
}
#test_func_2{
    color: white;
    background-color: #FD5D5D;
    width: 200px;
    font-size: 20px;
}

.box-set{
    width: 400px;
    display: flex;
    height: 100px;
    
}

.box {
    color: white;
    text-align: center;
    width: 50%;
    box-shadow: 0 15px 20px #29f8ff;
    border-radius: 10px;
    overflow: hidden;
    float: left;
  }

  .img_box{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  footer{
    margin-top: 5px;
    background-color: #b4a1fb;
    width: 100%;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 30px;
  }
  /* .box:nth-child(2) {
    position: absolute;
    top: 20px;
  } */
